<div class="container">
  <div class="page-header">
    <h2><%= i18n('Login') %></h2>
  </div>
  <div>

  <form action="/login" method="post">
    <label>Username</label>
    <input type="text" name="username"></input>
    <label>Password</label>
    <input type="password" name="password"></input>
    <input type="submit" value="Log in"></input>
  </form>

</div>